{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container">
    <h1>
        Enter The Data
    </h1>
    <form action="" method="post">
      {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Age</label>
          <input type="number" class="form-control" id="" aria-describedby="emailHelp" name="age">
        </div>
        
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">sex 1 for male and 0 for female</label>
          <input type="number" class="form-control" id="" name="sex">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">CP</label>
          <input type="number" class="form-control" id="" name="cp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">trestbps</label>
          <input type="number" class="form-control" id=""  name="trestbps">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">chol</label>
          <input type="number" class="form-control" id=""  name="chol">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">fbs</label>
          <input type="number" class="form-control" id=""  name="fbs">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">restecg</label>
          <input type="number" class="form-control" id=""  name="restecg">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">thalach</label>
          <input type="number" class="form-control" id=""  name="thalach">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">exang</label>
          <input type="number" class="form-control" id=""  name="exang">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">oldpeak</label>
          <input type="number" class="form-control" id=""  name="oldpeak">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">slope</label>
          <input type="number" class="form-control" id=""  name="slope">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">ca</label>
          <input type="number" class="form-control" id=""  name="ca">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">thal</label>
          <input type="number" class="form-control" id=""  name="thal">
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

{% endblock body %}