{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container">
    <h1>
        Enter The Data
    </h1>
    <form action="" method="post">
      {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Pregnancies</label>
          <input type="text" class="form-control" id="" aria-describedby="emailHelp" name="pregnancies">
        </div>
        
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Glucose</label>
          <input type="text" class="form-control" id="" name="glucose">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Blood Pressure</label>
          <input type="text" class="form-control" id="" name="bloodpressure">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Skin Thickness</label>
          <input type="text" class="form-control" id=""  name="skinthickness">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Insulin</label>
          <input type="text" class="form-control" id=""  name="insulin">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">BMI</label>
          <input type="text" class="form-control" id=""  name="bmi">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Diabetes Pedigree Function</label>
          <input type="text" class="form-control" id=""  name="diabetespedigreefunction">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Age</label>
          <input type="text" class="form-control" id=""  name="age">
        </div>
        
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

{% endblock body %}